<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ForkMain</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ForkMainIconIpad</string>
			<string>ForkMainIconLargeIpad</string>
			<string>ForkMainNotificationIcon</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>ForkRuby</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ForkRubyIconIpad</string>
			<string>ForkRubyIconLargeIpad</string>
			<string>ForkRubyNotificationIcon</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>ForkOnyx</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ForkOnyxIconIpad</string>
			<string>ForkOnyxIconLargeIpad</string>
			<string>ForkOnyxNotificationIcon</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>ForkEmerald</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ForkEmeraldIconIpad</string>
			<string>ForkEmeraldIconLargeIpad</string>
			<string>ForkEmeraldNotificationIcon</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
	<key>ForkAmethyst</key>
	<dict>
		<key>CFBundleIconFiles</key>
		<array>
			<string>ForkAmethystIconIpad</string>
			<string>ForkAmethystIconLargeIpad</string>
			<string>ForkAmethystNotificationIcon</string>
		</array>
		<key>UIPrerenderedIcon</key>
		<true/>
	</dict>
</dict>
</plist>
